::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(87, 87, 87);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(236, 236, 236);
}

@font-face {
  font-family: "Monofur";
  src: url('monofur.ttf') format('truetype');
}

body {
  font-family: "Monofur";
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  text-align: center;
}

.content {
  position: absolute;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(100, 100, 100);
  border-radius: 10px;
  overflow-y: scroll;
  padding: 10px;
  transition: all .2s;
  background-color: rgb(36, 36, 36);
  margin-bottom: 10px;
  height: 95%;
  overflow-x: hidden;
}

.content button, .upgrade button {
  font-family: "Monofur";
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(100, 100, 100);
  border-radius: 0px;
  padding: 10px;
  transition: all .2s;
  font-size: 20px;
}

.upgrade {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(100, 100, 100);
  border-radius: 0px;
  overflow-y: hidden;
  padding: 10px;
  transition: all .2s;
  background-color: rgb(36, 36, 36);
  margin-bottom: 10px;
  height: auto;
  overflow-x: hidden;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.upgrade h1 {
  font-family: "Monofur";
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  transition: all .2s;
}

.upgrade:hover h1 {
  font-size: 30px;
}

.upgrade:hover {
  background-color: rgb(53, 53, 53);
  border-radius: 10px;
}

.content button:hover, .upgrade button:hover {
  font-family: "Monofur";
  background-color: rgb(100, 100, 100);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#click {
  font-size: 80px;
}

#click:hover {
  font-size: 100px;
  border-radius: 40px;
}

#cont1 {
  width: 45%;
  margin-left: 1%;
}

#cont2 {
  width: 45%;
  margin-left: 51%;
}